.calendarWrapper {
    padding: 0px 0px 0px 15px;
    width: 100%;
}
    .calendarWrapper ul{
        margin-top: 10px;
        /* display: flex;
        flex-wrap:wrap; */
        list-style: none;
        margin-left: 5%;
    }
    .calendarWrapper ul li {
        background: #424242;
        margin: 10px;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        overflow-y: auto;
        width: 13%;
        height: 120px;
        float: left;
    }
    .calendarWrapper ul li:active{
        opacity:1 !important; 
        color: transparent; /* make the text invisible */
        user-select: none; /* prevent selection of the text */
    }
.dayTitle{
    color:white;
}
.dayObjects{
    width: 100%;
}
    .dayObjects div{
        background: rgba(255, 255, 255, .8);
        margin-bottom: 3px;
        border-radius: 3px;
        font-weight: bold;
    }

.calendarOutputWrapper {
    width: 100%;
    float: left;
}
    #calendarControls{
        display: none;
    }

.eventWrapper, .taskWrapper{
    text-align: left;
    background: white;
    padding: 15px 15px 0px 15px;
    height: auto;
    border-radius: 5px;
}

.taskTime, .eventTime{
    width: 250px !important;
}
.previousMonthsWrapper{
    width: 330px;
    margin:0 auto;
    padding-bottom:20px;
}
.previousMonthsWrapper ul li{
    float: left;
    margin-left:10px;
    margin-right:20px;
    list-style: none;
}
.currentSeason{
}
#seasonList{
    list-style: none;
    width: 150px;
    margin-left:25px;
}
/* Hardcode season logic here for now */
    #seasonList li{
        width: 30px;
        height: 30px;
        border-radius: 16px;
        background-color: white;
        float: left;
        margin: 5px;
        border:1px solid #ff0000;
        font-size: 14pt;
        font-weight: bold;
    }

/* Hardcode season logic here for now */
#seasonList li:nth-child(2){
    background-image: linear-gradient(white, #ff0000);
}
#seasonList li:nth-child(3){
    /* background-image: linear-gradient(white, #c51622); */
    background-color: #ff0000;
}
#seasonList li:nth-child(4){
    /* background-image: linear-gradient(white, #c51622); */
    background-color: #ff0000;
}
#seasonList li:nth-child(5){
    background-image: linear-gradient(#ff0000, white);
}