*{
    padding: 0;
    margin: 0;
}
    body{
        font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    }
    
    button{
        padding:10px;
        margin: 10px;
        background-color: #424242;
        color:white;
        outline: none;
        border:none;
        cursor: pointer;
        border-radius: 5px;
    }
        button:hover{
            padding: 12px;
            
        }
        button:active{
            padding: 16px;
        }
    .navBar {
        width: 100%;
        height:25px;
        background-color: #424242; 
        padding:10px 0px 15px 0px;
    }
        .logo{
            color:white;
            font-weight: bold;
            font-size: 18pt;
            margin-left:15px;
            float: left;
        }
        .logo:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .navList {
            float: right;
        }
        .navList ul li{
            float: left;
            padding-top:5px;
            padding-right:15px;
            list-style: none;
            color:white;
            font-weight: bold;
        }
        .navList ul li:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    .mainContent {
        margin:20px;
    }
    textarea{
        font-size: 14pt;
    }
    a{
        color:#424242;
    }
    a:active{
        /* color:red; */
    }
    a:hover{
        /* color:greenyellow;
        font-weight: bold;
        background-color: black;
        padding: 10px; */
    }
    
    .fullScreenWrapper{
        background-color:rgba(0,0,0, 0.5);
        position: fixed;
        width: 100%;
        height: 100%;
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: none;
        overflow: scroll;
        overflow-y: scroll;
        z-index: 9;
    }
    
        .modalContentWrapper{
            background:#efefef;
            width: 70%;
            height: auto;
            margin: 0 auto;
            text-align: center;
            padding:20px;
            margin-top:20px;
            border-radius: 5px;
        }
        .modalContentWrapper textarea{
            width: 95%;
            height: 150px;
            border-radius: 5px;
            padding: 5px;
        }
        .modalContentWrapper input{
            width: 85%;
            border: 1px solid black;
            outline: none;
            height: 40px;
            padding: 5px;
            border-radius: 5px;
            font-size: 15pt;
        }
        .modalContentWrapper .modalMessages {
            width: 100%;
            float: left;
            padding-bottom:10px;
        }
            .closeModal{
                padding: 5px;
                background-color:indianred;
                color:white;
                width:80px;
                margin:0 auto;
                margin-top:20px;
                cursor: pointer;
                border-radius: 5px;
            }
                .closeModal:hover{
                    padding: 7px;
                }
                .closeModal:active{
                    padding: 12px;
                }